@model IEnumerable<EmployeeVM>

@{
    ViewData["Title"] = "Home Page";

    // For sorting
    string SearchValue = (string)ViewData["SearchValue"];
    string SortColumn = (string)ViewData["SortColumn"];
    bool SortAscending = (bool)ViewData["SortAscending"];

    // For pagination
    int CurrentDataIndex = (int)ViewData["CurrentDataIndex"];
    int TotalDataCount = (int)ViewData["TotalDataCount"];

    EmployeeDM emp = null;
    if ((bool)ViewData["IsEditMode"] == true)
        emp = ViewData["Employee"] as EmployeeDM;

}

@await Html.PartialAsync("_ValidationScriptsPartial")

<!-- FILE SUBMIT AREA -->
<form asp-action="AddFile" method="post" enctype="multipart/form-data" style="border: 1px solid gray; border-radius: 20px; padding: 20px;">
    <div class="form-group">
        <label class="text-dark">Choose a file to process (.csv files only)</label>
        <input type="file" name="upload" />
    </div>
    <button class="btn btn-primary" type="submit" style="align-self:center;">Submit</button>
</form>

<!-- EDIT AREA -->
@if ((bool)ViewData["IsEditMode"] == true)
{
    @await Html.PartialAsync("_Edit", emp, ViewData);

    @*<form asp-action="Edit" method="post" style="margin-bottom: 40px;">
            <div class="form-group">
                <label asp-for="@emp.PayrollNumber"></label>
                <input asp-for="@emp.PayrollNumber" class="form-control" />
                <span asp-validation-for="@emp.PayrollNumber" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Forename"></label>
                <input asp-for="@emp.Forename" class="form-control" />
                <span asp-validation-for="@emp.Forename" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Surname"></label>
                <input asp-for="@emp.Surname" class="form-control" />
                <span asp-validation-for="@emp.Surname" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.DateOfBirth"></label>
                <input asp-for="@emp.DateOfBirth" class="form-control" />
                <span asp-validation-for="@emp.DateOfBirth" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Telephone"></label>
                <input asp-for="@emp.Telephone" class="form-control" />
                <span asp-validation-for="@emp.Telephone" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Mobile"></label>
                <input asp-for="@emp.Mobile" class="form-control" />
                <span asp-validation-for="@emp.Mobile" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Address"></label>
                <input asp-for="@emp.Address" class="form-control" />
                <span asp-validation-for="@emp.Address" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Address2"></label>
                <input asp-for="@emp.Address2" class="form-control" />
                <span asp-validation-for="@emp.Address2" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.Postcode"></label>
                <input asp-for="@emp.Postcode" class="form-control" />
                <span asp-validation-for="@emp.Postcode" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.EmailHome"></label>
                <input asp-for="@emp.EmailHome" class="form-control" />
                <span asp-validation-for="@emp.EmailHome" />
            </div>
            <div class="form-group">
                <label asp-for="@emp.StartDate"></label>
                <input asp-for="@emp.StartDate" class="form-control" />
                <span asp-validation-for="@emp.StartDate" />
            </div>

            <button type="submit" class="btn btn-primary"
                    asp-route-act="save"
                    asp-route-sVal=@SearchValue
                    asp-route-sortcolumn="EmailHome"
                    asp-route-sortascending=@SortAscending
                    asp-route-currentindex=@CurrentDataIndex>
                Save
            </button>

            <button type="submit" class="btn btn-secondary"
                    asp-route-act="cancel"
                    asp-route-sVal=@SearchValue
                    asp-route-sortcolumn="EmailHome"
                    asp-route-sortascending=@SortAscending
                    asp-route-currentindex=@CurrentDataIndex>
                Cancel
            </button>

            <button type="submit" class="btn btn-danger"
                    asp-route-act="cancel"
                    asp-route-sVal=@SearchValue
                    asp-route-sortcolumn="EmailHome"
                    asp-route-sortascending=@SortAscending
                    asp-route-currentindex=@CurrentDataIndex>
                Delete
            </button>

        </form>*@


}

<!-- SEARCH AREA -->
@await Html.PartialAsync("_Search", new SearchModel(SearchValue)) 

<!-- EMPLOYEE LIST AREA -->
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="PayrollNumber"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>PayrollNumber</a>
            </th>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="Forename"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>Forename</a>
            </th>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="Surname"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>Surname</a>
            </th>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="DateOfBirth"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>DateOfBirth</a>
            </th>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="Telephone"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>Telephone</a>
            </th>
            <th>
                <a asp-action="Sort" class="text-dark"
                   asp-route-sVal=@SearchValue
                   asp-route-sCol="EmailHome"
                   asp-route-sAsc=@SortAscending
                   asp-route-cIdx=@CurrentDataIndex>EmailHome</a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (EmployeeVM employee in Model)
        {
            <tr>
                <th>@employee.PayrollNumber</th>
                <td>@employee.Forename</td>
                <td>@employee.Surname</td>
                <td>@employee.DateOfBirth</td>
                <td>@employee.Telephone</td>
                <td>@employee.EmailHome</td>
                <td>
                    <form method="get" asp-action="Edit"
                          asp-route-id="@employee.PayrollNumber"
                          asp-route-sVal=@SearchValue
                          asp-route-sCol=@SortColumn
                          asp-route-sAsc=@SortAscending
                          asp-route-cIdx=@CurrentDataIndex>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>PayrollNumber</th>
            <th>Forename</th>
            <th>Surname</th>
            <th>DateOfBirth</th>
            <th>Telephone</th>
            <th>EmailHome</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>

<!-- PAGINATION AREA -->
<form asp-action="Pagination" method="post" style="margin-bottom: 40px;">
    <div container style="display:flex; flex-direction:row;">
        @if ((CurrentDataIndex - 10) > 0)
        {
        <button class="btn btn-primary" type="submit"
                asp-action="Pagination"
                asp-route-nxt=@false
                asp-route-sVal=@SearchValue
                asp-route-sCol=@SortColumn
                asp-route-sAsc=@SortAscending
                asp-route-cIdx=@CurrentDataIndex>
            Prev
        </button>
        }
        else
        {
            <button class="btn btn-primary" disabled>Prev</button>
        }
        <h5 style="margin: 20px;">@CurrentDataIndex/@TotalDataCount</h5>
        @if (CurrentDataIndex < TotalDataCount)
        {
            <button class="btn btn-primary" type="submit"
                    asp-action="Pagination"
                    asp-route-nxt=@true
                    asp-route-sVal=@SearchValue
                    asp-route-sCol=@SortColumn
                    asp-route-sAsc=@SortAscending
                    asp-route-cIdx=@CurrentDataIndex>
                Next
            </button>
        }
        else
        {
            <button class="btn btn-primary" disabled>Next</button>
        }
    </div>
</form>